<!DOCTYPE html>
<html lang="zh-TW">
<head>
  {{ partial "head.html" . }}
</head>
<body lang="zh-TW">



<div class="container my-post-container">
  
  <div style="margin-bottom: 2em;">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div style="float:right;">
    <a href="{{ .Site.BaseURL }}">首頁</a>。
    <a href="{{ .Site.BaseURL }}/about">關於我</a>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div>
  <br>

  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-date-tags">
    {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      &nbsp; | &nbsp;
    {{ end }}
    {{ .Date.Format "2006-01-02" }} &nbsp;
  </div>
  <hr>
    
  <section id="main">
    {{ .Content }}
    <hr>
    {{ template "_internal/disqus.html" . }}
  </section>

  <p style="font-size: 0.7em; text-align: center;">&copy; 2017. All rights reserved.</p>

  </div>
</div>
{{ partial "analytics.html" . }}
</body>
<html>
