<!DOCTYPE html>
<html lang="zh-TW">
<head>
  {{ partial "head.html" . }}
</head>
<body lang="zh-TW">

<div style="border-bottom: solid 1px #ddd; margin-bottom: 2em;">
  <div class="container" style="padding: 0.5em 0; max-width: 800px;">
    <div style="row">
      <div class="one column">&nbsp;</div>
      <div class="ten columns">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> 。
    <a href="{{ .Site.BaseURL }}">首頁</a>。
    <a href="{{ .Site.BaseURL }}">關於我</a>
      </div>
      
    </div>
  </div>
</div>

<br>
<div class="container" style="max-width: 800px;">
  <div class="row">
    <div class="one column"> &nbsp;</div>
    <div class="ten columns">
        <h1 class="post-title">{{ .Title }}</h1>
        <hr class="post-title-hr">
  
        <section id="main">
        {{ .Content }}

        Posted date: <time class="post-date">{{ .Date.Format "2006-01-02" }}</time>
        <hr>
        {{ template "_internal/disqus.html" . }}
        </section>
    </div>
    <div class="one column">&nbsp;</div>
  </div>
  <p style="font-size: 0.7em; text-align: center;">&copy; 2017. All rights reserved.</p>

</div>
{{ partial "analytics.html" . }}
</body>
<html>
