<link rel="stylesheet" href="/css/mobi.min.css" />

<style>
body {
    background-color: rgba(235, 235, 235, 1);
    color: #333;
    font-family:  "Microsoft JhengHei UI", "Microsoft YaHei", serif;
}
a { color: #934715; }
hr { border-top: solid 1px #ccc; }
code { background-color: #ccc; }
pre { background-color: #d3d3d3; }
p { margin-top: 25px; }
h2 { color: #444; }
h3 { color: #595959; }
/*img {box-shadow: 3px 3px 2px #aaa;}*/
blockquote { border-left-color: #666; }
#header {
    margin-top: 1em;
}
#the-article {
    font-size: 17px;
    line-height: 1.6em;
}
.site-name { font-weight:normal; font-size: 28px; }
.nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav li {
    list-style:none;
    float: left;
    padding: 0 20px;
}
.nav a { display:block; padding: 5px 15px; border: solid 1px #aaa; color:#555;}
.post-list {
    margin-top: 30px;
    padding-left: 0;
}
.post-list li {
    list-style:none;
    line-height: 2em;
}
.post-list time { color: #777; }
.post-title { font-weight: normal; }
.left {
    float:left;
    margin-right: 20px;
}
</style>