<link rel="stylesheet" href="/css/mobi.min.css" />

<style>
body {
    background-color: #efefe9;/* #eae9e2; */
    color: #333;
}
a { color: #934715; }
hr { border-top: solid 1px #adadab; }
code { color: #573D3D; background-color: #e7e6e0; }
pre { background-color: #e7e6e0; border-left: solid 5px #595959; }
p { margin-top: 25px; }
h2 { color: #444; }
h3 { color: #556551; }

blockquote { border-left-color: #666; }
#header { margin-top: 1em; }
#the-article {
    font-size: 18px;
    line-height: 1.6em;
}
.site-name { font-weight:normal; font-size: 28px; }

.nav { padding-top: 15px; }
.nav li {
    list-style:none;
    float: left;
    padding: 0 20px;
}
.nav a { display:block; padding: 5px 15px;}
.post-list {
    margin-top: 30px;
    padding-left: 0;
}
.post-list li {
    list-style:none;
    line-height: 2em;
}
.post-list time { color: #777; font-family: Menlo, Monaco, Consolas, monospace; }
.post-title { font-weight: normal; }
.left { float:left; margin-right: 20px; }
</style>