<!DOCTYPE html>
<html lang="zh-TW">
<head>
  {{ partial "head.html" . }}
</head>
<body lang="zh-TW">
<div class="container">
  
  <div style="margin-top: 3em;"></div>

  <div class="row">
    <div class="three columns">
      {{ partial "sidebar.html" .}}
    </div>
  <div class="nine columns">
  <section id="main">
    <ul class="archives">
      {{ range .Data.Pages }}
        <li>
          <span class="list-date">{{ .Date.Format "2006 Jan 02" }} » </span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
  </div>
</div>
  <p style="font-size: 0.7em; text-align: center;">&copy; 2017. All rights reserved.</p>
{{ partial "analytics.html" . }}
</div>
</body>
<html>