{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <ul style="line-height: 2.3em;">
    {{ range where .Site.Pages "Type" "post" }}
    <li>
      <span class="subtitle" style="font-family: Menlo, Consolas, Monaco, Courier New, monospace;">
        {{ .Date.Format "2006-Jan-02" }}
      </span> » &nbsp;
      <a href="{{ .Permalink }}" style="font-size: 18px;">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
    </ul>
  </div>
</section>
{{ partial "footer" . }}